<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>maibaobao</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <resource-ref>
    <res-ref-name>jdbc/conn</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  <filter>
    <display-name>BackLoginFilter</display-name>
    <filter-name>BackLoginFilter</filter-name>
    <filter-class>com.smallapple.mbb.filter.BackLoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>BackLoginFilter</filter-name>
    <url-pattern>/back/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>AddMessageServlet</display-name>
    <servlet-name>AddMessageServlet</servlet-name>
    <servlet-class>com.smallapple.mbb.servlet.AddMessageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddMessageServlet</servlet-name>
    <url-pattern>/back/AddMessageServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>EncodeFilter</display-name>
    <filter-name>EncodeFilter</filter-name>
    <filter-class>com.smallapple.mbb.filter.EncodeFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>EncodeFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>SelectUserServlet</display-name>
    <servlet-name>SelectUserServlet</servlet-name>
    <servlet-class>com.smallapple.mbb.servlet.SelectUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectUserServlet</servlet-name>
    <url-pattern>/back/SelectUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteUserServlet</display-name>
    <servlet-name>DeleteUserServlet</servlet-name>
    <servlet-class>com.smallapple.mbb.servlet.DeleteUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteUserServlet</servlet-name>
    <url-pattern>/back/DeleteUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelectChangeUserServlet</display-name>
    <servlet-name>SelectChangeUserServlet</servlet-name>
    <servlet-class>com.smallapple.mbb.servlet.SelectChangeUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectChangeUserServlet</servlet-name>
    <url-pattern>/back/SelectChangeUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertChangeUserServlet</display-name>
    <servlet-name>InsertChangeUserServlet</servlet-name>
    <servlet-class>com.smallapple.mbb.servlet.InsertChangeUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertChangeUserServlet</servlet-name>
    <url-pattern>/back/InsertChangeUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BackLoginServlet</display-name>
    <servlet-name>BackLoginServlet</servlet-name>
    <servlet-class>com.smallapple.mbb.servlet.BackLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BackLoginServlet</servlet-name>
    <url-pattern>/BackLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RemoveAdminServlet</display-name>
    <servlet-name>RemoveAdminServlet</servlet-name>
    <servlet-class>com.smallapple.mbb.servlet.RemoveAdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveAdminServlet</servlet-name>
    <url-pattern>/back/RemoveAdminServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelectChangeAdminServlet</display-name>
    <servlet-name>SelectChangeAdminServlet</servlet-name>
    <servlet-class>com.smallapple.mbb.servlet.SelectChangeAdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectChangeAdminServlet</servlet-name>
    <url-pattern>/back/SelectChangeAdminServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertChangeAdminServlet</display-name>
    <servlet-name>InsertChangeAdminServlet</servlet-name>
    <servlet-class>com.smallapple.mbb.servlet.InsertChangeAdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertChangeAdminServlet</servlet-name>
    <url-pattern>/back/InsertChangeAdminServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchBookInfoServlet</display-name>
    <servlet-name>SearchBookInfoServlet</servlet-name>
    <servlet-class>com.smallapple.mbb.servlet.SearchGoodsInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchBookInfoServlet</servlet-name>
    <url-pattern>/SearchGoodsInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelectDetailServlet</display-name>
    <servlet-name>SelectDetailServlet</servlet-name>
    <servlet-class>com.smallapple.mbb.servlet.SelectDetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectDetailServlet</servlet-name>
    <url-pattern>/SelectDetailServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.smallapple.mbb.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowGoodsServlet</display-name>
    <servlet-name>ShowGoodsServlet</servlet-name>
    <servlet-class>com.smallapple.mbb.servlet.ShowGoodsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowGoodsServlet</servlet-name>
    <url-pattern>/back/showGoods</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteGoodsServlet</display-name>
    <servlet-name>DeleteGoodsServlet</servlet-name>
    <servlet-class>com.smallapple.mbb.servlet.DeleteGoodsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteGoodsServlet</servlet-name>
    <url-pattern>/back/deleteGoods</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddGoodsServlet</display-name>
    <servlet-name>AddGoodsServlet</servlet-name>
    <servlet-class>com.smallapple.mbb.servlet.AddGoodsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddGoodsServlet</servlet-name>
    <url-pattern>/back/addGoods</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchInfoForAddGoods</display-name>
    <servlet-name>SearchInfoForAddGoods</servlet-name>
    <servlet-class>com.smallapple.mbb.servlet.SearchInfoForAddGoods</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchInfoForAddGoods</servlet-name>
    <url-pattern>/back/sInfoFAddGoods</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchInfoForUpdateGoods</display-name>
    <servlet-name>SearchInfoForUpdateGoods</servlet-name>
    <servlet-class>com.smallapple.mbb.servlet.SearchInfoForUpdateGoods</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchInfoForUpdateGoods</servlet-name>
    <url-pattern>/back/sInfoForUpGoods</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateGoodsServlet</display-name>
    <servlet-name>UpdateGoodsServlet</servlet-name>
    <servlet-class>com.smallapple.mbb.servlet.UpdateGoodsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateGoodsServlet</servlet-name>
    <url-pattern>/back/updateGoods</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LadyBagServlet</display-name>
    <servlet-name>LadyBagServlet</servlet-name>
    <servlet-class>com.smallapple.mbb.servlet.LadyBagServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LadyBagServlet</servlet-name>
    <url-pattern>/LadyBagServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.smallapple.mbb.servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowOrdersServlet</display-name>
    <servlet-name>ShowOrdersServlet</servlet-name>
    <servlet-class>com.smallapple.mbb.servlet.ShowOrdersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowOrdersServlet</servlet-name>
    <url-pattern>/back/ShowOrdersServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateOrdersStatusServlet</display-name>
    <servlet-name>UpdateOrdersStatusServlet</servlet-name>
    <servlet-class>com.smallapple.mbb.servlet.UpdateOrdersStatusServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateOrdersStatusServlet</servlet-name>
    <url-pattern>/back/UpdateOrdersStatusServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchOrderForUpdateServlet</display-name>
    <servlet-name>SearchOrderForUpdateServlet</servlet-name>
    <servlet-class>com.smallapple.mbb.servlet.SearchOrderForUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchOrderForUpdateServlet</servlet-name>
    <url-pattern>/back/SearchOrderForUpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CarServlet</display-name>
    <servlet-name>CarServlet</servlet-name>
    <servlet-class>com.smallapple.mbb.servlet.CarServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CarServlet</servlet-name>
    <url-pattern>/CarServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteCarServlet</display-name>
    <servlet-name>DeleteCarServlet</servlet-name>
    <servlet-class>com.smallapple.mbb.servlet.DeleteCarServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteCarServlet</servlet-name>
    <url-pattern>/DeleteCarServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReduceServlet</display-name>
    <servlet-name>ReduceServlet</servlet-name>
    <servlet-class>com.smallapple.mbb.servlet.ReduceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReduceServlet</servlet-name>
    <url-pattern>/ReduceServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrderServlet</display-name>
    <servlet-name>OrderServlet</servlet-name>
    <servlet-class>com.smallapple.mbb.servlet.OrdersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderServlet</servlet-name>
    <url-pattern>/OrdersServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteOrdersServlet</display-name>
    <servlet-name>DeleteOrdersServlet</servlet-name>
    <servlet-class>com.smallapple.mbb.servlet.DeleteOrdersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteOrdersServlet</servlet-name>
    <url-pattern>/DeleteOrdersServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PersonServlet</display-name>
    <servlet-name>PersonServlet</servlet-name>
    <servlet-class>com.smallapple.mbb.servlet.PersonServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PersonServlet</servlet-name>
    <url-pattern>/PersonServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RemoveUserServlet</display-name>
    <servlet-name>RemoveUserServlet</servlet-name>
    <servlet-class>com.smallapple.mbb.servlet.RemoveUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveUserServlet</servlet-name>
    <url-pattern>/RemoveUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SureOrders</display-name>
    <servlet-name>SureOrders</servlet-name>
    <servlet-class>com.smallapple.mbb.servlet.SureOrders</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SureOrders</servlet-name>
    <url-pattern>/SureOrders</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowEvaluateServlet</display-name>
    <servlet-name>ShowEvaluateServlet</servlet-name>
    <servlet-class>com.smallapple.mbb.servlet.ShowEvaluateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowEvaluateServlet</servlet-name>
    <url-pattern>/back/ShowEvaluateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertEvaluateServlet</display-name>
    <servlet-name>InsertEvaluateServlet</servlet-name>
    <servlet-class>com.smallapple.mbb.servlet.InsertEvaluateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertEvaluateServlet</servlet-name>
    <url-pattern>/InsertEvaluateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowAdminServlet</display-name>
    <servlet-name>ShowAdminServlet</servlet-name>
    <servlet-class>com.smallapple.mbb.servlet.ShowAdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowAdminServlet</servlet-name>
    <url-pattern>/back/ShowAdminServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteAdminServlet</display-name>
    <servlet-name>DeleteAdminServlet</servlet-name>
    <servlet-class>com.smallapple.mbb.servlet.DeleteAdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteAdminServlet</servlet-name>
    <url-pattern>/back/DeleteAdminServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddAdminServlet</display-name>
    <servlet-name>AddAdminServlet</servlet-name>
    <servlet-class>com.smallapple.mbb.servlet.AddAdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddAdminServlet</servlet-name>
    <url-pattern>/back/AddAdminServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchAdminInfoForUpdate</display-name>
    <servlet-name>SearchAdminInfoForUpdate</servlet-name>
    <servlet-class>com.smallapple.mbb.servlet.SearchAdminInfoForUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchAdminInfoForUpdate</servlet-name>
    <url-pattern>/back/SAdminInfoFUp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateAdminServlet</display-name>
    <servlet-name>UpdateAdminServlet</servlet-name>
    <servlet-class>com.smallapple.mbb.servlet.UpdateAdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateAdminServlet</servlet-name>
    <url-pattern>/back/updateAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertFeedback</display-name>
    <servlet-name>InsertFeedback</servlet-name>
    <servlet-class>com.smallapple.mbb.servlet.InsertFeedbackServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertFeedback</servlet-name>
    <url-pattern>/InsertFeedback</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowFeedbackServlet</display-name>
    <servlet-name>ShowFeedbackServlet</servlet-name>
    <servlet-class>com.smallapple.mbb.servlet.ShowFeedbackServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowFeedbackServlet</servlet-name>
    <url-pattern>/back/ShowFeedbackServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchFbInfoForReplyServlet</display-name>
    <servlet-name>SearchFbInfoForReplyServlet</servlet-name>
    <servlet-class>com.smallapple.mbb.servlet.SearchFbInfoForReplyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchFbInfoForReplyServlet</servlet-name>
    <url-pattern>/back/SearchFbInfoForReplyServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReplyFbServlet</display-name>
    <servlet-name>ReplyFbServlet</servlet-name>
    <servlet-class>com.smallapple.mbb.servlet.ReplyFbServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReplyFbServlet</servlet-name>
    <url-pattern>/back/ReplyFbServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowReplyServlet</display-name>
    <servlet-name>ShowReplyServlet</servlet-name>
    <servlet-class>com.smallapple.mbb.servlet.ShowReplyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowReplyServlet</servlet-name>
    <url-pattern>/back/ShowReplyServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchReplyFbInfoServlet</display-name>
    <servlet-name>SearchReplyFbInfoServlet</servlet-name>
    <servlet-class>com.smallapple.mbb.servlet.SearchReplyFbInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchReplyFbInfoServlet</servlet-name>
    <url-pattern>/back/SearchReplyFbInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AjaxAddAidServlet</display-name>
    <servlet-name>AjaxAddAidServlet</servlet-name>
    <servlet-class>com.smallapple.mbb.servlet.AjaxAddAidServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjaxAddAidServlet</servlet-name>
    <url-pattern>/back/AjaxAddAidServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertQuestionServlet</display-name>
    <servlet-name>InsertQuestionServlet</servlet-name>
    <servlet-class>com.smallapple.mbb.servlet.InsertQuestionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertQuestionServlet</servlet-name>
    <url-pattern>/InsertQuestionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowQuestionServlet</display-name>
    <servlet-name>ShowQuestionServlet</servlet-name>
    <servlet-class>com.smallapple.mbb.servlet.ShowQuestionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowQuestionServlet</servlet-name>
    <url-pattern>/back/ShowQuestionServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>PersonFilter</display-name>
    <filter-name>PersonFilter</filter-name>
    <filter-class>com.smallapple.mbb.filter.PersonFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>PersonFilter</filter-name>
    <url-pattern>/PersonServlet</url-pattern>
    <url-pattern>/InsertQuestionServlet</url-pattern>
    <url-pattern>/InsertFeedbackServlet</url-pattern>
    <url-pattern>/IsAlreadyCollectServlet</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>DowloadServlet</display-name>
    <servlet-name>DowloadServlet</servlet-name>
    <servlet-class>com.smallapple.mbb.servlet.DowloadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DowloadServlet</servlet-name>
    <url-pattern>/DowloadServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddCollectServlet</display-name>
    <servlet-name>AddCollectServlet</servlet-name>
    <servlet-class>com.smallapple.mbb.servlet.AddCollectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCollectServlet</servlet-name>
    <url-pattern>/AddCollectServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IsAlreadyCollectServlet</display-name>
    <servlet-name>IsAlreadyCollectServlet</servlet-name>
    <servlet-class>com.smallapple.mbb.servlet.IsAlreadyCollectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IsAlreadyCollectServlet</servlet-name>
    <url-pattern>/IsAlreadyCollectServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowCollectServlet</display-name>
    <servlet-name>ShowCollectServlet</servlet-name>
    <servlet-class>com.smallapple.mbb.servlet.ShowCollectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowCollectServlet</servlet-name>
    <url-pattern>/back/ShowCollectServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>WithoutLoginFilter</display-name>
    <filter-name>WithoutLoginFilter</filter-name>
    <filter-class>com.smallapple.mbb.filter.WithoutLoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>WithoutLoginFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>SearchBagServlet1</display-name>
    <servlet-name>SearchBagServlet1</servlet-name>
    <servlet-class>com.smallapple.mbb.servlet.SearchBagServlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchBagServlet1</servlet-name>
    <url-pattern>/SearchBagServlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertRequestServlet</display-name>
    <servlet-name>InsertRequestServlet</servlet-name>
    <servlet-class>com.smallapple.mbb.servlet.InsertRequestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertRequestServlet</servlet-name>
    <url-pattern>/InsertRequestServlet</url-pattern>
  </servlet-mapping>
   <servlet>
    <description></description>
    <display-name>ShowApplyRefundServlet</display-name>
    <servlet-name>ShowApplyRefundServlet</servlet-name>
    <servlet-class>com.smallapple.mbb.servlet.ShowApplyRefundServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowApplyRefundServlet</servlet-name>
    <url-pattern>/back/ShowApplyRefundServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchARInfoForCheckServlet</display-name>
    <servlet-name>SearchARInfoForCheckServlet</servlet-name>
    <servlet-class>com.smallapple.mbb.servlet.SearchARInfoForCheckServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchARInfoForCheckServlet</servlet-name>
    <url-pattern>/back/SearchARInfoForCheckServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateApplyRefundServlet</display-name>
    <servlet-name>UpdateApplyRefundServlet</servlet-name>
    <servlet-class>com.smallapple.mbb.servlet.UpdateApplyRefundServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateApplyRefundServlet</servlet-name>
    <url-pattern>/back/UpdateApplyRefundServlet</url-pattern>
  </servlet-mapping>
</web-app>